@use "variables" as var;

.works-page-container {
    padding-top: var.$header-height;
    width: 96%;
    max-width: var.$content-inner-width;
    margin: 0 auto var.$sec-under-margin;
    @media screen and (max-width: 767px) {
        max-width: var.$content-width-sp;
        margin: 0 auto var.$sec-under-margin-sp;
        padding-top: var.$header-height-sp;
    }
    @media screen and (min-width: 767px) and (max-width: 1000px) {
        max-width: 747px;
    }

    .works-page-container__menu-products-box {
        display: flex;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
        
        .works-page-container__menus-and-toggle-btn {
            position: fixed;
            background-color: rgba($color: #ffffff, $alpha: .9);
            width: 100%;
            max-width: 300px;
            // margin: 0 auto;
            
            .works-page-container__menus-toggle-btn {
                display: none;

                @media screen and (max-width: 767px) {
                    display: block;
                    margin: 0 auto 8px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);

                    .works-page-container__menus-checkbox {
                        display: none;
                    }
                    .works-page-container__menus-label {
                        display: inline-block;
                        width: 100px;
                        height: 40px;
                        background-color: #cccccc;
                        border-radius: 20px;
                        position: relative;
                    }
                    .works-page-container__menus-label::before {
                        content: "Menu";
                        font-weight: bold;
                        position: absolute;
                        top: 50%;
                        right: 10%;
                        transform: translateY(-50%);
                        transition: .5s;
                    }
                    .works-page-container__menus-label::after {
                        content: "";
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background-color: #ffffff;
                        border-radius: 50%;
                        box-shadow: 0 0 3px #000000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: .5s;
                    }
                    .works-page-container__menus-checkbox:checked + .works-page-container__menus-label{
                        background-color: var.$accent-color;
                    }
                    .works-page-container__menus-checkbox:checked + .works-page-container__menus-label::after {
                        left: 60px;
                    }
                    .works-page-container__menus-checkbox:checked + .works-page-container__menus-label::before {
                        left: 10%;
                        color: #ffffff;
                    }
                }
            }
        
            .works-page-container__product-menus {
                display: block;
                position: fixed;
                margin: 0 auto;
                padding: 0 32px 0 0;
                width: 30%;
                @media screen and (max-width: 767px) {
                    width: 100%;
                    position: static;
                    padding: 48px 0 0;
                }
        
                .works-page-container__menu {
                    text-align: left;
                    cursor: pointer;
                    padding: 12px 16px;
                    position: relative;
                    transition: .5s;
        
                    .works-page-container__menu-anker {
                        color: var.$text-color;
                        display: inline-block;
                        width: 100%;

                        .en {
                            padding: 0 0 0 8px;
                        }
                    }
                    .works-page-container__menu-anker::before {
                        content: "";
                        display: inline-block;
                        background-color: var.$text-color;
                        vertical-align: middle;
                        width: 8px;
                        height: 1px;
                    }
                }
                .works-page-container__menu:hover {
                    opacity: .5;
                }
            }
            .works-page-container__product-menus-hide {
                display: none;
            }
            @media screen and (max-width: 767px) {
                .works-page-container__product-menus-non-checked {
                    display: none;
                }
            }
        }

        .works-page-container__products-box {
            margin: 0 0 0 auto;
            padding: 80px 0 0 0;
            width: 70%;
            @media screen and (min-width: 767px) and (max-width: 1000px) {
                max-width: 747px;
            }
            @media screen and (max-width: 767px) {
                max-width: var.$content-width-sp;
                width: 100%;
            }
            .third-heading-box {
                margin: 160px 0 0;

                .third-heading {
                    font-size: var.$heading-third;
                    border-bottom: 5px solid #60939D;
                    padding-bottom: 8px;
                    display: inline-block;
                }
            }
            .third-heading-box:first-child {
                margin: 0;
            }
            .works-page-container__product-descs-box {
                margin: 48px 0 24px;
        
                .works-page-container__product-desc-box {
                    display: flex;
                    margin-bottom: 24px;
        
                    .works-page-container__item {
                        width: 20%;
                        @media screen and (max-width: 767px) {
                            width: 30%;
                        }
                    }
                    .works-page-container__detail {
                        width: 80%;
                        line-height: 2;
                        margin-top: -8px;
                        @media screen and (max-width: 767px) {
                            width: 70%;
                            overflow: hidden;
                        }
                    }
                }
            }
            .works-page-container__product-img-box {
                .works-page-container__subheading {
                    text-align: center;
                    margin-top: 24px;
                }
                .works-container__product-img {
                    width: 100%;
                    border: 1px solid #000000;
                }
                .works-page-container__product-thumbnails {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px 0 0 0;
                    @media screen and (max-width: 767px) {
                        flex-wrap: wrap;
                    }

                    .works-page-container__product-thumbnail {
                        width: 24%;
                        padding: 16px;
                        border: 1px solid #000000;
                        opacity: .3;
                        cursor: pointer;
                        @media screen and (max-width: 767px) {
                            width: 49%;
                            padding: 8px;
                        }

                        .thumbnail {
                            width: 100%;
                        }
                    }
                    .selected {
                        opacity: 1;
                    }
                }
            }
        }
    }
}